<% @title = @artist.name + " | Loud House Publishing" %>
<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @artist.photo.url(:medium) %>
</p>

<p>
  <strong>Featured?:</strong>
  <%= @artist.featured %>
</p>

<%= link_to 'Back', artists_path %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_artist_path(@artist) %>
  <%= link_to 'Delete', @artist, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
