<% @title = "Loud House Publishing" %>
<div class="home">
  <div class="center">
    <%= image_tag('logo.png', id: 'logo') %>
    <div class="center-inner">
      <ul class="row" id="page-bar">
        <li class="col-xs pages" id="about"><a class="section-link" href="/about">About</a></li>
        <li class="col-xs pages" id="events"><a class="section-link" href="/events">Events</a></li>
        <li class="col-xs pages" id="artists"><a class="section-link" href="/artists">Artists</a></li>
        <li class="col-xs pages" id="releases"><a class="section-link" href="/releases">Releases</a></li>
        <li class="col-xs pages" id="studio"><a class="section-link" href="/studio">Studio</a></li>
        <li class="col-xs pages" id="contact"><a class="section-link" href="/contact">Contact</a></li>
        <% if user_signed_in? %>
          <li class="col-xs pages" id="logout"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'section-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <a href="#featured-content"><%= image_tag('down-arrow.png', id: 'down-arrow', size: '125x50') %></a>
</div>

<div class="row" id="featured-content">
  <div class="featured col-lg-5" id="events">
    <h1 class="featured-header"><a class="header-link" id="events" href="/events">EVENTS</a></h1>
    <% @featured_events.each do |event| %>
      <%= render partial: "event", locals: {event: event} %>
    <% end %>
  </div>
  <div class="featured col-lg-5" id="artists">
    <h1 class="featured-header"><a class="header-link" id="artists" href="/artists">ARTISTS</a></h1>
    <% @featured_artists.each do |artist| %>
      <%= render partial: "artist", locals: {artist: artist} %>
    <% end %>
  </div>
  <div class="featured col-lg-2" id="releases">
    <h1 class="featured-header" id="releases"><a class="header-link" id="releases" href="/releases">RELEASES</a></h1>
    <% @featured_releases.each do |release| %>
      <%= render partial: "release", locals: {release: release} %>
    <% end %>
  </div>
</div>