<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Headliner</th>
      <th>Supporting</th>
      <th>Price</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!--  TODO should probably add in some helpers to dry this out-->
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.headliner %></td>
        <td><%= event.supporting %></td>
        <td><%= event.price %></td>
        <td><%= event.address %></td>
        <td><%= event.city %></td>
        <td><%= event.zip %></td>
        <td><%= event.state %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.description %></td>
        <td><%= image_tag event.photo.url(:thumb) %></td>
        <td><%= link_to 'Show', event %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
