<% @title = @event.headliner + " | Loud House Publishing" %>
<p>
  <strong>Headliner:</strong>
  <%= @event.headliner %>
</p>

<p>
  <strong>Supporting:</strong>
  <%= @event.supporting %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @event.photo.url(:home) %>
</p>

<%= link_to 'Back', events_path %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Delete', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
