<% @title = "Contact Us" %>
<div class="static-page" id="contact">
  <div class="col-md-7 static-page-body" id="contact">
    <h1 class="header" id="contact">Contact Us</h1>

    <hr id="contact">

    <p class="static-page-text" id="contact">
      Questions? Send us at email at loudhousepublishing@gmail.com or give us a call at (831) 555-5555
    </p>
    <div class="col-md-6 offset-md-3 contact-form">
      <%= form_with(url: contact_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true %>
        </div>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true %>
        </div>
        <div class="form-group">
          <%= f.text_field :subject, class: "form-control", placeholder: "Subject", required: true  %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, rows: 10, class: "form-control", placeholder: "Message", required: true  %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: 'btn btn-primary',  id: 'label' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
