<%= form_with(model: release, local: true) do |form| %>
  <% if release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist_id, "Artist" %>
    <%= form.collection_select :artist_id, @artists, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :release %>
    <%= form.date_select :release %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "description" %>
  </div>

  <div class="field">
    <%= form.label :album_art, "Album Art" %>
    <%= form.file_field :album_art %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
